@charset "UTF-8";

body {
  background-color: #170126;
  ;
  box-sizing: border-box;
  box-sizing: 0;
  font: normal 30px Arial, Helvetica, sans-serif;

  margin: 1%;
  padding: 1%;
}
.container {
  text-align: center;
  display: grid;
  width: 100%;
  right: 100%;
  background-color: #270140;
  grid-template-columns: 0.5fr 2fr 0.5fr; 
  grid-template-rows: 0.5fr 2fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "none-01 none-01 none-01"
    "none-02 gamearea none-03"
    "none-04 none-04 none-04"; 
    font: normal bolder 30px Arial, Helvetica, sans-serif;
}
.gamearea {
  grid-area: gamearea;
  text-align: center;
  width: 100%;
  right: 100%;
  background-color: white;
}
.game {
    text-align: center;
    width: 100%;
    right: 100%;
    background-color: white;
}
.none-01 {
  grid-area: none-01;
  background-color: red;
}
.none-02 {
  grid-area: none-02;
  background-color: blue;
}
.none-03 {
  grid-area: none-03;
  background-color: black;
}
.none-04 {
  grid-area: none-04;
  background-color: aqua;
}
