@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {/* Resetando o box-sizing*/
  background-color: #170126;
  box-sizing: 0;
  box-sizing: border-box;

  margin: 1%;
  padding: 1%;
/* font order: font-style => font-weight => font-size => font-family */
  font: normal bolder 30px Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
  display: grid;
  width: 100%;
  right: 100%;
  background-color: #270140;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "titulo titulo titulo"
    "none-01 button-1 none-02"
    "none-03 button-2 none-04";
    font: normal bolder 30px Arial, Helvetica, sans-serif;
    
}
.titulo {
  grid-area: titulo;
  color: #44D2F2;
  background-color: #170126;
  font: normal bolder 4em Arial;
  text-align: center;
  margin: 3vh;
}
.button-1 {
  font: normal bolder 30px Arial, Helvetica, sans-serif;
  grid-area: button-1;
  background-color: #270140;
  border: none;
  color: #44D2F2;
  padding: 0;
  width: 100%;
  right: 100%;
  text-decoration: none;
  display: inline-block;
  margin: 6px;
  cursor: pointer;
  transition: all 1s;
  transition-duration: 0.4s;
  outline: none;
  box-shadow: 0 10px #170126;
}
/* Define, quando meu cursor estiver acima do botão ele vai ativar a animação */
.button-1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}
.button-1 span:after {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.6s;
}
.button-1:hover span {
  padding-right: 50px;
}
.button-1:hover span:after {
  opacity: 1;
  right: 0;
}
.button-1:hover {
  background-color: #10001b;
}
.button-1:active {
  background-color: #10001b;
  box-shadow: 0 5px #10001b;
  transform: translateY(5px);
}

.button-2 {
  font: normal bolder 30px Arial, Helvetica, sans-serif;
  grid-area: button-2;
  background-color: #270140;
  border: none;
  color: #44D2F2;
  padding: 0%;
  width: 100%;
  right: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1%;
  cursor: pointer;
  transition: all 1s;
  transition-duration: 0.4s;
  outline: none;
  box-shadow: 0 10px #170126;

}
.button-2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}
.button-2 span:after {
  content: "<<";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.6s;
}
.button-2:hover span {
  padding-right: 50px;
}
.button-2:hover span:after {
  opacity: 1;
  right: 0;
}
.button-2:hover {
  background-color: #10001b;
}
.button-2:active {
  background-color: #10001b;
  box-shadow: 0 5px #10001b;
  transform: translateY(4px);
}
.none-01 {
  grid-area: none-01;
}
.none-02 {
  grid-area: none-02;
}
.none-03 {
  grid-area: none-03;
}
.none-04 {
  grid-area: none-04 ;
}

/* CSS da página sobre*/

#sobreBody {
  color: white;
}
#buttonBack {
  width: 15%;
}
